body {
    scroll-behavior: smooth;
}

.hero {
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("https://images.unsplash.com/photo-1589395937658-0557e7d89fad");
    background-size: cover;
    background-position: center;
}

/* Animation cartes */
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* Animation galerie */
.gallery-box img {
    transition: transform 0.4s ease;
}

.gallery-box img:hover {
    transform: scale(1.05);
}

/* Boutons */
.btn {
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.05);
}